<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="warmUp" type="TfsProxyWarmUp.Config.WarmUpConfigurationSection, TfsProxyWarmUp" />
  </configSections>

  <warmUp proxyUrl="http://tfsproxy:8081/">
    <projectCollections>

      <projectCollection collectionUrl="http://tfs:8080/tfs/DefaultCollection">
        <itemSpecs>
          <itemSpec serverPath="$/Project1/MAIN" />
          <itemSpec serverPath="$/Project1/RELEASE/1.1" />
          <itemSpec serverPath="$/Project1/RELEASE/1.2" />
        </itemSpecs>
      </projectCollection>
      
    </projectCollections>
  </warmUp>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>