<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      useInvariantCulture="true">

  <targets>

    <target xsi:type="ColoredConsole" name="Console"
            useDefaultRowHighlightingRules="false">

      <layout>${when:when=level >= LogLevel.Warn:inner=${level:uppercase=true}${literal:text=\: }}${message}${onexception:inner=${newline}${exception:format=ToString}}</layout>
      
      <highlight-row condition="level >= LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
    </target>

    <target xsi:type="File" name="LogFile"
            fileName="${basedir}\Log-${shortdate}.log"
            encoding="utf-8"
            keepFileOpen="true">

      <layout>${date:format=yyyy'-'MM'-'dd' 'HH'\:'mm'\:'ss'.'fff}&#9;${level:uppercase=true}&#9;${message}${onexception:inner=${newline}${exception:format=ToString}}</layout>
    </target>
    
  </targets>

  <rules>

    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="*" minlevel="Info" writeTo="LogFile" />
    
  </rules>
</nlog>